/MORM.CSharp/.axoCover
/MORM.CSharp/.vs
/MORM.CSharp/src/.axoCover
/MORM.CSharp/src/.vs
*/obj
/MORM.CSharp/src/MORM.Aplicacao/obj
/MORM.CSharp/src/MORM.Apresentacao/obj
/MORM.CSharp/src/MORM.Apresentacao.Servico/obj
/MORM.CSharp/src/MORM.Database/obj
/MORM.CSharp/src/MORM.Dominio/obj
/MORM.CSharp/src/MORM.Dtos/obj
/MORM.CSharp/src/MORM.GeradorDoc/obj
/MORM.CSharp/src/MORM.Mocks/bin
/MORM.CSharp/src/MORM.Mocks/obj
/MORM.CSharp/src/MORM.Report/bin
/MORM.CSharp/src/MORM.Report/obj
/MORM.CSharp/src/MORM.Repositorio/obj
/MORM.CSharp/src/MORM.Repositorio.Dapper/obj
/MORM.CSharp/src/MORM.Repositorio.Ioc/obj
/MORM.CSharp/src/MORM.Repositorio.Tests/bin
/MORM.CSharp/src/MORM.Repositorio.Tests/obj
/MORM.CSharp/src/MORM.RunWebApi/obj
/MORM.CSharp/src/MORM.RunWebApi/bin
/MORM.CSharp/src/MORM.Servico/obj
/MORM.CSharp/src/MORM.Utils/obj
/MORM.CSharp/src/MORM.WebApi/obj
/MORM.CSharp/src/MORM.WebApi/bin
/MORM.CSharp/src/MORM.WSist/obj
/MORM.CSharp/src/MORM.WSist/bin
/MORM.CSharp/src/TestResults
*.lock
*.log
*.pdb
obj