/MORM.CSharp/.axoCover
/MORM.CSharp/.vs
/MORM.CSharp/src/.axoCover
/MORM.CSharp/src/.vs
/MORM.CSharp/src/MORM.Aplicacao/obj
/MORM.CSharp/src/MORM.Apresentacao/obj
/MORM.CSharp/src/MORM.Dominio/obj
/MORM.CSharp/src/MORM.GeradorDoc/obj
/MORM.CSharp/src/MORM.IoC/obj
/MORM.CSharp/src/MORM.Repositorio/obj
/MORM.CSharp/src/MORM.Repositorio.Dapper/obj
/MORM.CSharp/src/MORM.Repositorio.IoC/obj
/MORM.CSharp/src/MORM.Repositorio.Firebird/obj
/MORM.CSharp/src/MORM.Repositorio.MongoDB/obj
/MORM.CSharp/src/MORM.Repositorio.MySql/obj
/MORM.CSharp/src/MORM.Repositorio.PostgreSql/obj
/MORM.CSharp/src/MORM.Repositorio.Oracle/obj
/MORM.CSharp/src/MORM.Repositorio.SqLite/obj
/MORM.CSharp/src/MORM.Repositorio.SqlServer/obj
/MORM.CSharp/src/MORM.Repositorio.Tests/bin
/MORM.CSharp/src/MORM.Repositorio.Tests/obj
/MORM.CSharp/src/MORM.Utilidade/obj
/MORM.CSharp/src/TestResults
*.lock
*.log
*.pdb