<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ambiente" value="desenvolvimento" />
    <add key="tipoDatabase" value="Oracle" />
    <add key="instancia" value="oratst" />
    <add key="_site" value="http://192.168.1.121:55275/api/" />
  </appSettings>
</configuration>