<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ambiente" value="desenvolvimento" />
    <add key="tipoDatabase" value="SqLite" />
    <add key="providerName" value="System.Data.SQLite" />
    <add key="database" value="{appPath}\Dados" />
    <add key="username" value="udesen" />
    <add key="password" value="udesen" />
    <add key="hostname" value="localhost" />
    <add key="_site" value="http://127.0.0.1:55275/api/" />
    <add key="#_token" value="cTDIHM3ZoH50NPwytMuxEnRghqknLG3at3P+VlhG7TSLoOcvhRAYNZDVTrl2j8TaP6J+sbX+k8iRrQsvCg4d/1oa+IkSYZFEOSXzJHuNOwXCKnxUdsWV9eYJHhoTSax9bKoVnyU9OS4utQzBrme70AeuoW0cvL4t9XoPJJpOq3I0ECTWRnV3NWAnJHFyED/j8a7OqcEywHEGAFEqw0jzoGQRyCCRIpkJN8LPGvQK2lMxAzpYr/kXVQr1x+UoZeFddHgu7gdX1YlZEKthXR6nP30Wc9Nc55U3fYKU67M5pDiGjMzZR+CI54qqgbIRx9h77lcANh7zqNAlhHzzFtsB3pAeVASueOCPRdNsXMgYm5O/HShUyACND3SGDbDM2Ni45VG+zAXA/ORaBEke/vUV3zX/65EImL0MMevO3rZbk62CWB0MyYUxnA==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>