<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ambiente" value="desenvolvimento" />
    <add key="tipoDatabase" value="SqLite" />
    <add key="providerName" value="System.Data.SQLite" />
    <add key="database" value="d:\projeto\_dados\desenvolvimento" />
    <add key="username" value="udesen" />
    <add key="password" value="udesen" />
    <add key="hostname" value="localhost" />
  </appSettings>
  <connectionStrings>
    <add name="DataContextSqLite" providerName="System.Data.SQLite" connectionString="Data Source=@database\@username.db;Version=3;Password=@password;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>