<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DbFactoryConfiguration" type="MORM.Repositorio.Database.DbFactorySectionHandler, MORM.Infra.Data.Database" />
  </configSections>
  <appSettings>
    <add key="ambiente" value="desenvolvimento" />
    <add key="tipoDatabase" value="SqLite" />
    <add key="providerName" value="System.Data.SQLite" />
    <add key="database" value="{appPath}\Dados" />
    <add key="username" value="udesen" />
    <add key="password" value="udesen" />
    <add key="hostname" value="localhost" />
  </appSettings>
</configuration>